Tests/Resources/app/cache
Tests/Resources/app/logs
Tests/Resources/app/data
Tests/Resources/app/var
Tests/Resources/TestBundle/Resources/config/massive-search/*
!Tests/Resources/TestBundle/Resources/config/massive-search/.gitkeep
Tests/Resources/TestBundle/Entity/*
!Tests/Resources/TestBundle/Entity/.gitkeep
Resources/docs/build
composer.lock
vendor

#intelij
/.idea

*.iml
