<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    bootstrap="vendor/symfony-cmf/testing/bootstrap/bootstrap.php"
>

    <testsuites>
        <testsuite name="Massive Search Bundle">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <coverage includeUncoveredFiles="true">
        <include>
            <directory>.</directory>
        </include>
        <exclude>
            <directory>Resources/</directory>
            <directory>Tests/</directory>
            <directory>vendor/</directory>
        </exclude>
    </coverage>

    <php>
        <env name="SYMFONY_PHPUNIT_REMOVE_RETURN_TYPEHINT" value="1"/>
        <env name="SYMFONY_PHPUNIT_REMOVE" value="symfony/yaml"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
        <server name="KERNEL_DIR" value="Tests/Resources/app" />
    </php>
</phpunit>
